/* Login */
.loginWrapper {
  margin-top: 100px;
  position: absolute;
  left: 40%;
  width: 300px;
  height: 400px;
  padding: 20px;
  border: 3px solid lightseagreen;
  border-radius: 20px;
}

.loginTitle {
  text-align: center;
  margin: 20px 0 0 0;
}

.loginForm {
  height: 250px;
  margin: 30px;
  padding: 30px 15px;
}

.loginForm > * {
  width: 200px;
  font-size: 18px;
}

.loginInput {
  margin: 10px 0px 25px 0px;
  line-height: 30px;
}

.loginButton {
  font-size: 22px;
  color: white;
  margin-top: 10px;
  height: 50px;
  cursor: pointer;
  border: none;
  background: lightseagreen;
  width: 205px;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: lightseagreen;
}

.status {
  color: white;
  float: right;
  padding: 11px;
  font-size: 22px;
  font-weight: 600;
}

.logoutBtn {
  float: right;
  border: none;
  background: none;
  font-size: 15px;
  margin: 4px 5px 4px 15px;
  padding: 0;
  cursor: pointer;
}

/* New Board */
.boardWrapper {
  margin: 100px 50px;
}

.boardTitle {
  margin-left: 30px;
  font-size: 20px;
  display: inline;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 50px;
}

.inputTitle {
  margin: 0px 20px;
  font-size: 18px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}

/* Todos */
.todosWrapper {
  margin: 70px 20px;
  padding: 30px;
  width: 250px;
  background-color: rgb(224, 224, 224);
}

.todosTitle {
  display: inline-block;
  margin: 10px 20px 10px 10px;
  font-size: 20px;
}

.deleteTodosBtn {
  border: none;
  font-size: 20px;
  float: right;
  background: none;
  outline: none;
}

.inputTodo {
  width: 200px;
  line-height: 28px;
  margin: 23px 23px 5px 23px;
  font-size: 16px;
  border: none;
}

.todo {
  font-size: 16px;
}

.todo > li {
  margin-top: 10px;
}
