/* Login */
.loginWrapper {
  width: 300px;
  height: 400px;
  background: lightcyan;
  padding: 20px;
}

.loginTitle {
  text-align: center;
  margin: 0;
}

.loginForm {
  height: 250px;
  background: lightgoldenrodyellow;
  margin: 30px;
  padding: 30px 15px;
}

.loginForm > * {
  width: 200px;
  font-size: 18px;
}

.loginInput {
  margin: 10px 0px 25px 0px;
}

.loginButton {
  margin-top: 10px;
  height: 40px;
  cursor: pointer;
}

/* Header */
.header {
  height: 50px;
  background-color: lightseagreen;
}

.status {
  color: white;
  float: right;
  padding: 11px;
  font-size: 22px;
  font-weight: 600;
}

.logoutBtn {
  float: right;
  border: none;
  background: none;
  font-size: 15px;
  margin: 4px 5px 4px 15px;
  padding: 0;
  cursor: pointer;
}

/* New Board */
.boardWrapper {
  margin: 50px;
}

.boardTitle {
  font-size: 20px;
  display: inline;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50px;
}

.inputTitle {
  margin: 0px 20px;
  font-size: 18px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}
