.App {
  text-align: center;
}

.loginForm {
  width: 200px;
  height: 300px;
  margin: 100px;
  border: 3px solid lightcoral;
}

.loginTitle {
  text-align: center;
}

.loginWrapper {
  width: 200px;
  height: 300px;
}

.loginInputs {
  display: block;
  margin: 20px;
  width: 150px;
}

.loginButton {
  width: 156px;
  height: 30px;
  margin: 20px;
  background-color: none;
}
