/* header */
.header {
  text-align: center;
  font-weight: 900;
  margin: 15px;
}

.nav {
  padding: 5px 50px;
  margin: 0;
  display: flex;
  list-style: none;
  font-size: 25px;
  background: tomato;
}

.menu {
  padding: 10px;
}

.menu > a {
  color: white;
  text-decoration: none;
}

/* main page */
.movieList {
  width: 85vw;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
}

.movie {
  list-style: none;
  position: relative;
  padding: 30px;
  height: 550px;
  margin: 0 auto;
}

.poster {
  width: 300px;
  height: 400px;
  margin-bottom: 15px;
}

.detail {
  display: inline-block;
  position: absolute;
  top: 462px;
  left: 120px;
}

.order {
  font-size: 60px;
  font-weight: bolder;
  color: tomato;
  font-style: italic;
  display: block;
  margin-right: 20px;
}

.votes {
  font-size: 16px;
}

.title {
  font-size: 25px;
  display: block;
  width: 200px;
}
