/* header */
.header {
  text-align: center;
  font-weight: 900;
  margin: 10px;
}

.nav {
  margin: 0;
  display: flex;
  list-style: none;
  font-size: 25px;
  background: tomato;
}

.nav > .menu {
  text-decoration: none !important;
  padding: 10px;
  color: white;
}

/* main page */
.movieList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.movie {
  list-style: none;
  position: relative;
  padding: 30px;
}

.poster {
  width: 300px;
  height: 400px;
}

.order {
  font-size: 70px;
  font-weight: bolder;
  color: tomato;
  font-style: italic;
  display: block;
  margin-right: 20px;
}

.detail {
  display: inline-block;
}

.votes {
  font-size: 18px;
}

.title {
  font-size: 30px;
  display: block;
  width: 300px;
}
