.misaeLists > li {
  text-decoration: none;
  display: block;
  margin-top: 20px;
  width: 50vh;
  padding: 30px;
}

.state {
  display: block;
  font-size: 20px;
  padding: 5px 0;
}

.fetchBtn {
  background: lightgrey;
  width: 50vh;
  height: 60px;
  margin-left: 65px;
  margin-top: 20px;
  font-size: 20px;
  padding: 10px;
  border-radius: 20px;
}
